.main {
  position: relative;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.image {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  /* width: 40px;
  height: 40px; */
  /* padding: 20px; */
  border: 1px solid red;
  border-radius: 100%;
  margin: auto;
  text-align: center;
}

.info-box {
  border: 1px solid red;
  margin-top: 80px;
  text-align: center;
}
