.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  text-align: center;
  background: #5d91f7;
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 550px;
  height: 400px;
  margin: auto;

  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.no {
  height: 200px;
}

.form {
  padding: 0 3rem;
}

.input {
  width: 100%;
  font-size: 1rem;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  outline: none;
}

.input::placeholder {
  color: rgba(128, 128, 128, 0.4);
}

.btn-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login {
  background-color: #5d91f7;
  box-sizing: border-box;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.oauth {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}

.oauth span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kakao {
  background-color: #ffed00;
  border: none;
}

.oauth-icon {
  font-size: 25px;
}

.sign-box {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  font-weight: lighter;
  padding-top: 20px;
  padding-right: 10px;
}

.signup {
  border: none;
  background-color: transparent;

  color: white;
  font-weight: bold;
  cursor: pointer;
  /* border: 1px solid white;
  border-radius: 5px; */
  margin-left: 5px;
}
