.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 850px;
  height: 500px;
  padding: 50px;
  text-align: center;
  /* background-color: white; */
  background-color: #f2f6fa;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
  display: grid;
  gap: 4px;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 40px;
}

.page-box {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}

.page-btn {
  font-size: 1.3rem;
  padding: 0 2.5px;
  padding-top: 5px;

  cursor: pointer;
}

.page-num-box {
  display: flex;
  list-style: none;
}

.page-num {
  padding: 2px 4px;
  margin: 2px;
}

.page-num.active {
  background-color: black;
  color: white;
}

.profile {
  position: absolute;
  right: 10px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
