.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 850px;
  height: 500px;
  padding: 50px;
  text-align: center;
  background-color: #f2f6fa;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  align-content: start;
}

.page-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.page-btn {
  font-size: 1.3rem;
  padding: 0 2.5px;
  padding-top: 5px;

  cursor: pointer;
}

.page-num-box {
  display: flex;
  list-style: none;
}

.page-num {
  padding: 2px 4px;
  width: 20px;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
}

.page-num.active {
  background-color: #5d91f7;
  color: white;
}

.profile {
  position: absolute;
  right: 10px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.edit {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #5d91f7;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
