.nav {
  display: flex;
  justify-content: center;

  gap: 2rem;
}

.nav-btn {
  padding: 6px 1.5rem;
  font-size: 1.5rem;
  background-color: #75d3d2;
  color: white;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
