.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  position: relative;
  text-align: center;
  background: #5d91f7;
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 550px;
  height: 350px;
  margin: auto;

  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.form {
  padding: 0 3rem;
}

.input {
  width: 100%;
  font-size: 1rem;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  outline: none;
}

.input::placeholder {
  color: rgba(128, 128, 128, 0.4);
}

.btn-box {
  display: flex;
  justify-content: center;

  gap: 10px;
  margin-top: 30px;
}

.signup {
  background-color: #5d91f7;
  box-sizing: border-box;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.signup:hover {
  opacity: 0.9;
}

.cancel {
  background-color: rgba(128, 128, 128, 0.4);
  box-sizing: border-box;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.cancel:hover {
  opacity: 0.9;
}
